/**
 * @name EndgameUI Aero
 * @author Astro
 * @version 1.0
 * @description Windows Aero inspired preset for EndgameUI
 */

@import url('./core.css');

:root {

    /* Background */
    --app-bg: url(https://raw.githubusercontent.com/AlexxDevvz/EndgameUI/main/assets/wallpapers/aero.jpg);

    /* Accent */
    --accent-hue: 205;
    --accent-saturation: 90%;
    --accent-lightness: 72%;
    --accent-opacity: 1;

    /* UI */
    --sidebar-color: rgba(120, 180, 255, 0.12);
    --main-content-color: rgba(255, 255, 255, 0.08);

    /* Cards */
    --card-color: rgba(255, 255, 255, 0.10);
    --card-color-hover: rgba(255, 255, 255, 0.16);

}
